header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
  // background: linear-gradient(to right, #4d1ea2 0%,#bd5f9d 100%);
  background-image: url("../img/base/base.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f8f5fa !important;
  a strong {
    color: white;
    font-weight: 500;
    text-decoration: underline;
  }
  h1 {
    font-weight: 800;
    font-size: 50pt;
  }
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }
  .vline:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 6px solid #ebebeb;
    transform: translate(-50%);
  }
  p {
    font-size: 13;
  }
  span {
    font-size: 12;
  }
  p, span {
    font-weight: 300;
  }
  .side-border {
    div {
      opacity: 0.10;
      background-image: linear-gradient(#ebeb, #ebeb);
      background-size: 4px 100%;
      background-repeat: no-repeat;
      background-position: center center; height: 100%;
    }
  }

}
// Responsive
@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
    h1 {
      font-size: 50pt;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }

  }
}

// Xs devices
@media (min-width: 350px) {
  header.masthead {
    .container {
      height: 770px;
      margin-bottom: 25px
    }
  }
}

// Xs devices
@media (min-width: 414px) {
  header.masthead {
    .container {
      height: 865px;
      margin-bottom: 25px
    }
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 45pt !important;
  }
}

@media (max-width: 404px) {
  h1 {
    font-size: 35pt !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .row.pb-5 {
    .row {
      float: left;
    }
  }
  header.masthead {
    .container {
      height: 855px;
      margin-bottom: 25px
    }
    h1 {
      font-size: 45pt !important;
    }
  }
  hr.horizontal-border {
    opacity: 0.10;
    border-top: 2px solid #8c8b8b;
  }
  .side-border {
    display: none
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  header.masthead {
    .container {
      height: auto;
      margin-bottom: 25px
    }
  }
  hr.horizontal-border {
    opacity: 0.10;
    border-top: 2px solid #8c8b8b;
  }
  .side-border {
    display: none
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  hr.horizontal-border {
    display: none;
  }
  .side-border {
    display: block;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  hr.horizontal-border {
    display: none;
  }
}
