@mixin body-font() {
  // font-family: 'Lato';
  font-family: 'Work Sans', sans-serif;
}

@mixin heading-font() {
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  // font-family: 'Montserrat';
}
