// Styling for the portfolio section
.portfolio {
  background-color: #f8f5fa;
  p {
    font-size: 13pt;
    font-weight: 300;
  }
  p.main {
    font-size: 14pt;
  }
  a strong {
    color: #212529;
    font-weight: 600;
  }
  .padding-about {
    padding: 60px 15px;;
  }
}
